<!--FOOTER SECTION #bEnd #fixme #touch-->
<div id="corebottom">
            <div id="footer">
                <pre>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</pre>
                <div class="filter">
                <a href="/">HOME</a>
				<span class="footdogs">  &#215; </span>
                <a href="/projects">PROJECTS</a>
                <span class="footdogs">  &#215; </span>
                <a href="/shop/">SHOP</a>
                <span class="footdogs">  &#215; </span>
                <a href="/ultrapage#donate">DONATE!</a>
				<span class="footdogs">  &#215; </span>
                <a href="/about">ABOUT</a>
				<span class="footdogs">  &#215; </span>
                <a href="/contact">CONTACT</a>
                </div>
<!--FOOTER SECTION - BOTTOM -->
                <div class="filter">
                <a href="/ultrapage#social">SOCIAL LINKS</a>
                <span class="footdogs">  &#215; </span>
                        <a href="/coolpage">COOL PAGE</a>
                <span class="footdogs">  &#215; </span>
                <a href="/ultrapage#ultra">ULTRAPAGE</a>
				</div>
<!-- Other Sites stuff -->
<small><div class="filter">
				<a style="color: #717171; text-decoration: none;" >Other BADS.TM Sites:</a>
                <a href="#" onclick="alert('Work in Progress...!')" >LittVid</a>
				<span class="footdogs">  &#215; </span>
                <a href="https://sgengine.github.io">SGEngine</a>
				<span class="footdogs">  &#215; </span>
                <a href="https://bads-tm.github.io/swine/">Stormregion</a>
				<span class="footdogs">  &#215; </span>
                <a href="#">Socially</a>
<!--copyright - VERY BOTTOM -->
<small><br><br></small>&copy; 2012 -
<script language="JavaScript" type="text/javascript">
    now = new Date
    theYear=now.getYear()
    if (theYear < 1900)
    theYear=theYear+1900
    document.write(theYear)
</script> <b>bads.tm LLC</b>
 <!-- <a href="https://brave.com/bad666"><img src="./uploads/brave/bravemini.png" width="128"></a> -->
<br><a href="https://brave.com/bad666"><img src="/uploads/brave/switch_banner_2@2x.png" width="225"></a>
</small></div>
<!-- page fix so cookies look ok -->
</div>
</div>
</div>
</div>
<!-- page fix so cookies look ok -->
<!-- cookiejs html code -->
{% include extras/cookies.html %}
</body>
</html>
