<!--TAGS------>
		<!-- Universal -->
		<title>bads.tm</title>
		<meta name="description" content="bads.tm website" />
		<meta name="keywords" content="bads.tm , opensource">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#00aba9">
		<meta name="author" content="bads.tm">
		<!-- Brave & Crypto-Donation -->
		<meta name="brave-publisher-verification" content="a8f35b6324fc2adb80a17aec9ee38dd611d6c49983082806eb12c96cbeed8873">
		<meta name="microtip" content="1K1YN3fLWi3rn9Mxcz2UkVhb6xubPbJqCX" data-currency="btc" data-recipient="bads.tm (btc)">
		<meta name="microtip" content="0x365Fbd40Cc5Cf51288270787c43dEE5cb3b61a25" data-currency="eth" data-recipient="bads.tm (eth)">
		<meta name="microtip" content="LcmCZCHEjSdLHEN3npKLWT8qGa6kXNLSMz" data-currency="ltc" data-recipient="bads.tm (ltc)">
		<!-- Facebook/OpenGraph Tags-->
		<meta property="og:description" content="bads.tm website" />
		<meta property="og:url" content="http://bads-tm.github.io">
		<meta property="og:site_name" content="bads.tm">
		<meta property="og:title" content="bads.tm">
		<meta property="og:type" content="website"/>
		<meta property="article:section" content="bads.tm" />
		<meta property="article:tag" content="bads.tm" />
		<!-- Google -->
		<meta itemprop="name" content="bads.tm">
		<meta itemprop="description" content="bads.tm website">
		<meta itemprop="image" content="http://bads-tm.github.io/uploads/sys/badslogo.png">
		<!-- Twitter Card data -->
		<meta name="twitter:card" content="bads.tm website">
		<meta name="twitter:site" content="@bads_tm">
		<meta name="twitter:title" content="bads.tm">
		<meta name="twitter:description" content="the bads.tm site is quite full of stuff!">
		<meta name="twitter:creator" content="@bads_tm">
		<!-- Chrome Add To HomeScreen Tags-->
     	<meta name="mobile-web-app-capable" content="yes">
			<!-- Structured Data Tags-->
<script type="application/ld+json">{"@context":["http://schema.org",{"@language":"en"}],"@type":"Website","url":"https://bads-tm.github.io","publisher":{"@type":"Organization","url":"https://bads-tm.github.io","logo":"http://bads-tm.github.io/uploads/sys/badslogo.png","name":"bads.tm","sameAs":{"https://www.youtube.com/channel/UCYvRwAl9kPSBURFBBdNBUSw","https://www.twitter.com/bads.tm","https://plus.google.com/u/0/104202395981252300746","https://soundcloud.com/bads_tm"}"parentOrganization":{"@type":"Organization","name":"bads.tm"}}}</script>
<!--ENDED THE TAGS------>
<!--<div style="min-height: 42px;background-color: #c52e2e;height: 100%;line-height: 48px;color: white;text-align: center;z-index: 99999999;">This site will shutdown because We're working on a new site. Also some stuff here is heavily out of date.</div>-->
